*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins"
}
#header{
    cursor: pointer;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(128, 0, 128, 0.699);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 20px;
}
#btnboard{
    color: white;
    background-color: rgba(128, 0, 128, 0);
    font-size: 20px;
    border: unset;
    padding: 0px 5px;
    
   
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

} #btnboard:hover{
    transform: scale(1.1);
    font-size: bold;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#Inputbox {
    width: 220px;
    padding: 12px 18px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
    font-size: 18px;
    margin-right: 0;
    outline: none;
}

#btn {
    padding: 12px 20px;
    border-radius: 0 10px 10px 0px;
    background-color: crimson;
    color: white;
    font-size: 18px;
    border: none;
    transition: background-color 0.3s ease;
}
#btn:hover {
    background-color: darkred;
}
#ChangeBtn {
    display: none;
    padding: 10px 15px;
    background: linear-gradient(to right, #6a11cb, purple);
    color: white;
    font-size: 17px;
    margin-left: 27px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
}

#container{
    font-size: 25px;
}
.writeAnswer{
    background-color: rgb(13, 94, 13) !important;
    color: white;
}

#copyData{
    width: 100%;
    height: 100vh;
    position:absolute;
    top: 50px;
display: none;
    color: white;
    background-image: url(./imges2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.right{
    background-color: green;
    width: 25px;
    height: 25px;
    display: none;
    border: unset;
    border-radius: 50%;
    position: absolute;
    left: 240px;
    top: 50px;
    font-size: 15px;
    color: white;
}
.wrong{
    background-color: black;
    margin-top: 2px;
    display: none;
    width: 25px;
    height: 28px;
    font-size: 20px;
    border: unset;
    border-radius: 50%;
    left: 240px;
  top: 75px; 
  
  color: white;
    position: absolute;
}
.optBtn{
    width: 100px;
   font-size: 30px;
   border: 2px solid #444;
   border-radius: 5px;
   background-color: rgba(216, 112, 147, 0.365);
   transition: all 0.3s ease;
   cursor: pointer;

}
.error-changes{
    background-color: black;
    color: white;
}
#score{
    display: none;
    font-size: 30px;
}

#wrapper{
    position: relative;

}
#timerbox{
   width: 40px;
   height: 40px;
    border-radius: 50%;
    border: 2px solid black;
   display: none;
    position: absolute;
  left: 230px;
  top: 0px;
  font-size: 25px;
}

#wrapper{
    background-image: url(./backimg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 600px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#option_value{
    position: relative;
    
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}


.object-box{
    display: flex;
    width: 200px;
    flex-wrap: wrap;

}
@media screen and (min-width:320px) and (max-width:570px){
    #score{
        font-size: 20px;
    }
}